<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogLevel" value="Debug" />

	</appSettings>

	<connectionStrings>
		<add name="MyDbConnection"
     connectionString="Data Source=.;Initial Catalog=DVLD;Integrated Security=True"
     providerName="System.Data.SqlClient" />
	</connectionStrings>
		
</configuration>